<div class='flash-success'><%= flash[:success] %></div>
<div class='flash-error'><%= flash[:alert] %></div>
<div class='contents'>
  <h1 class='title'>Contact</h1>
  <%= form_with url: static_pages_send_messege_to_slack_path, class: 'contents-contact' do |form| %>
    <div class='contents-contact-field'>
      <%= form.label :email, 'Email' %>
      <!-- <p class='contents-contact-field-detail'> ＊任意 </p> -->
      <%= form.text_field :email, required: true %>
    </div>
    <div class='contents-contact-area'>
      <%= form.label :message %>
      <%= form.text_area :message, required: true %>
    </div>
    <div class='contents-contact-button'>
      <%= form.submit '送信', class: 'contents-contact-button' %>
    </div>
  <% end %>
</div>
