<div class="contents-wrapper">
  <!-- information section -->
  <div class="news-section">
    <div class="news-section-inner">
      <div class="news-section-inner-column">
        <h1 class="news-section-inner-column-ttl">Official announcement</h1>
        <p class="news-section-inner-column-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="news-section-inner-column-body">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p class="news-section-inner-column-body">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="news-section-inner-graphic">
        <%= image_pack_tag 'home_news01.png', class: 'news-section-inner-graphic-img', alt: 'テキストのイメージ画像' %>
      </div>
    </div>
  </div>
  <!-- concept section -->
  <div class="concept-section">
    <div class="concept-section-inner">
      <div class="concept-section-inner-intro">
        <h2 class="concept-section-inner-intro-ttl">Unfowld</h2>
        <p class="concept-section-inner-intro-body">Unfowldは、明治大学の１年生によって２０１８年４月に設立されたファッションサークルです。</p>
        <p class="concept-section-inner-intro-body">６０名の明治大学1、2年生によって構成されています。</p>
        <p class="concept-section-inner-intro-body">そのちち、アパレル販売員が１５名在籍しているのも当サークルの強みです。</p>
        <p class="concept-section-inner-intro-body">「ファッションの敷居を下げる」をテーマに掲げ、多様な活動をしています。</p>
        <p class="concept-section-inner-intro-body">知識の大小を問わず、服が好きな新入生を募集中です。</p>
        <p class="concept-section-inner-intro-body">あなたのやりたいこと、Unfowldで一緒にやりましょう。</p>
      </div>
    </div>
  </div>
  <!-- garellry section -->
  <div class="collection-box">
    <div class="collection-box-inner">
      <div class="single-box">
        <div class="single-box-fadein">
          <div class="single-box-fadein-content">
            <h2 class="single-box-fadein-content-ttl"><a href="#" class="single-box-fadein-content-ttl-link">About</a></h2>
            <div class="single-box-fadein-content-graphic">
              <%= image_pack_tag 'home_about02.png', class: 'single-box-fadein-content-graphic-img', alt: 'テキストのイメージ画像' %>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box">
        <div class="single-box-fadein">
          <div class="single-box-fadein-content">
            <h2 class="single-box-fadein-content-ttl"><a href="#" class="single-box-fadein-content-ttl-link">Members</a></h2>
            <div class="single-box-fadein-content-graphic">
              <%= image_pack_tag 'home_member01.png', class: 'single-box-fadein-content-graphic-img', alt: 'テキストのイメージ画像' %>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box">
        <div class="single-box-fadein">
          <div class="single-box-fadein-content">
            <h2 class="single-box-fadein-content-ttl"><a href="#" class="single-box-fadein-content-ttl-link">Events</a></h2>
            <div class="single-box-fadein-content-graphic">
              <%= image_pack_tag 'home_events01.png', class: 'single-box-fadein-content-graphic-img', alt: 'テキストのイメージ画像' %>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box">
        <div class="single-box-fadein">
          <div class="single-box-fadein-content">
            <h2 class="single-box-fadein-content-ttl"><a href="#" class="single-box-fadein-content-ttl-link">Blog</a></h2>
            <div class="single-box-fadein-content-graphic">
              <%= image_pack_tag 'home_blog01.png', class: 'single-box-fadein-content-graphic-img', alt: 'テキストのイメージ画像' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
