<div class='contents'>
  <div class="contents-introduction">
    <div class='contents-introduction-fadein'>
      <%= image_pack_tag 'slider_001.jpg', class: 'contents-introduction-fadein-img01', alt: 'img01' %>
    </div>
    <div class="contents-introduction-textfield">
      <p class="contents-introduction-textfield-text">
        Unfowldは、明治大学の1年生によって2018年4月に設立されたファッションサークルです。<br><br>
        60名の明治大学1,2年生によって構成されています。<br><br>
        そのうちアパレル販売員が15名在籍しているのも当サークルの強みです。<br><br>
        「ファッションの敷居を下げる」をテーマに掲げ、多様な活動をしています。<br><br>
        知識の大小を問わず、服が好きな新入生を募集中です。<br><br>
        あなたのやりたいこと、Unfowldで一緒にやりましょう。
      </p>
    </div>
  </div>
  <!-- about-section-start -->
  <section class="contents-about">
    <div class="contents-about-inner">
      <!-- left-side -->
      <div class="contents-about-inner-leftside">
        <div class="contents-about-inner-leftside-title">
          <h2 class="contents-about-inner-leftside-title-text">About</h2>
        </div>
        <p class="contents-about-inner-leftside-downsideimage">
          <a class="contents-about-inner-leftside-douwnsideimage-link">
            <%= image_pack_tag 'home_002.jpg', class: 'contents-about-inner-leftside-downsideimage-link-img01', alt: 'about-img01' %>
          </a>
        </p>
      </div>
      <!-- right-side -->
      <div class="contents-about-inner-rightside">
        <p class="contents-about-inner-rightside-upsideimage">
          <a class="contents-about-inner-rightside-upsideimage-link">
            <%= image_pack_tag 'home_003.jpg', class: 'contents-about-inner-rightside-upsideimage-link-img02', alt: 'about-img02' %>
          </a>
        </p>
        <p class="contents-about-inner-rightside-downsideimage">
          <a class="contents-about-inner-rightside-downsideimage-link">
            <%= image_pack_tag 'home_004.jpg', class: 'contents-about-inner-rightside-downsideimage-link-img03', alt: 'about-img03' %>
          </a>
        </p>
      </div>
    </div>
  </section>
  <!-- about-section-end -->
  <!-- events-section-start -->
  <section class="contents-events">
    <div class="contents-events-pickup">
      <div class="contents-events-pickup-pickupdata">
        <p class="contents-events-pickup-pickupdata-category">Events</p>
        <p class="contents-events-pickup-pickupdata-title">grico Fashion Night</p>
        <p class="contents-events-pickup-pickupdata-date">2019.05.31</p>
        <p class="contents-events-pickup-pickupdata-excerpt">ファッション誌でも大活躍の人気美容室gricoとUnfowldによるコラボイベントを開催いたしました。
</p>
        <p class="contents-events-pickup-pickupdata-link">
          <a href="#" class="contents-events-pickup-pickupdata-link-entrylink">View Event >></a>
        </p>
      </div>
      <div class="contents-events-pickup-pickupimage">
        <a href="#" class="contents-events-pickup-pickupimage-link">
          <%= image_pack_tag 'events_001.jpg', class: 'contents-events-pickup-pickupimage-link-img', alt: 'events-img01' %>
        </a>
      </div>
    </div>
    <div class="contents-events-pickup">
      <div class="contents-events-pickup-pickupdata">
        <p class="contents-events-pickup-pickupdata-category">Events</p>
        <p class="contents-events-pickup-pickupdata-title">grico Fashion Night</p>
        <p class="contents-events-pickup-pickupdata-date">2019.05.31</p>
        <p class="contents-events-pickup-pickupdata-excerpt">ファッション誌でも大活躍の人気美容室gricoとUnfowldによるコラボイベントを開催いたしました。
</p>
        <p class="contents-events-pickup-pickupdata-link">
          <a href="#" class="contents-events-pickup-pickupdata-link-entrylink">View Event >></a>
        </p>
      </div>
      <div class="contents-events-pickup-pickupimage">
        <a href="#" class="contents-events-pickup-pickupimage-link">
          <%= image_pack_tag 'events_001.jpg', class: 'contents-events-pickup-pickupimage-link-img', alt: 'events-img01' %>
        </a>
      </div>
    </div>
    <div class="contents-events-pickup">
      <div class="contents-events-pickup-pickupdata">
        <p class="contents-events-pickup-pickupdata-category">Events</p>
        <p class="contents-events-pickup-pickupdata-title">grico Fashion Night</p>
        <p class="contents-events-pickup-pickupdata-date">2019.05.31</p>
        <p class="contents-events-pickup-pickupdata-excerpt">ファッション誌でも大活躍の人気美容室gricoとUnfowldによるコラボイベントを開催いたしました。
</p>
        <p class="contents-events-pickup-pickupdata-link">
          <a href="#" class="contents-events-pickup-pickupdata-link-entrylink">View Event >></a>
        </p>
      </div>
      <div class="contents-events-pickup-pickupimage">
        <a href="#" class="contents-events-pickup-pickupimage-link">
          <%= image_pack_tag 'events_001.jpg', class: 'contents-events-pickup-pickupimage-link-img', alt: 'events-img01' %>
        </a>
      </div>
    </div>
    <p class="contents-events-button">
      <a href="#" class="contents-events-button-link">
        <span class="contents-events-button-link-contents">More ></span>
      </a>
    </p>
  </section>
  <!-- events-section-end -->
  <!-- member-section-start -->
  <section class="contents-member">
    <div class="contents-member-title">
      <h2 class="contents-member-title-text">Member</h2>
    </div>
    <ul class="contents-member-list">
      <li class="contents-member-list-fadein">
        <a href="#" class="contents-member-list-fadein-link">
          <div class="contents-member-list-fadein-link-image">
            <%= image_pack_tag 'member_01.jpg', class: 'contents-member-list-fadein-link-image-img', alt: 'member-img01' %>
          </div>
          <div class="contents-member-list-fadein-link-name">
            <div class="contents-member-list-fadein-link-name-inner">
              <p class="contents-member-list-fadein-link-name-inner-jpn">福田 琉弥</p>
              <p class="contents-member-list-fadein-link-name-inner-eng">Fukuda Ryubi</p>
            </div>
          </div>
        </a>
      </li>
      <li class="contents-member-list-fadein">
        <a href="#" class="contents-member-list-fadein-link">
          <div class="contents-member-list-fadein-link-image">
            <%= image_pack_tag 'member_02.jpg', class: 'contents-member-list-fadein-link-image-img', alt: 'member-img02' %>
          </div>
          <div class="contents-member-list-fadein-link-name">
            <div class="contents-member-list-fadein-link-name-inner">
              <p class="contents-member-list-fadein-link-name-inner-jpn">伊藤 知生</p>
              <p class="contents-member-list-fadein-link-name-inner-eng">Tomoki Ito</p>
            </div>
          </div>
        </a>
      </li>
      <li class="contents-member-list-fadein">
        <a href="#" class="contents-member-list-fadein-link">
          <div class="contents-member-list-fadein-link-image">
            <%= image_pack_tag 'member_03.jpg', class: 'contents-member-list-fadein-link-image-img', alt: 'member-img03' %>
          </div>
          <div class="contents-member-list-fadein-link-name">
            <div class="contents-member-list-fadein-link-name-inner">
              <p class="contents-member-list-fadein-link-name-inner-jpn">大原 啓輔</p>
              <p class="contents-member-list-fadein-link-name-inner-eng">Ohara Keisuke</p>
            </div>
          </div>
        </a>
      </li>
      <li class="contents-member-list-fadein">
        <a href="#" class="contents-member-list-fadein-link">
          <div class="contents-member-list-fadein-link-image">
            <%= image_pack_tag 'member_04.jpg', class: 'contents-member-list-fadein-link-image-img', alt: 'member-img04' %>
          </div>
          <div class="contents-member-list-fadein-link-name">
            <div class="contents-member-list-fadein-link-name-inner">
              <p class="contents-member-list-fadein-link-name-inner-jpn">伊藤 大輝</p>
              <p class="contents-member-list-fadein-link-name-inner-eng">Ito Hiroki</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <p class="contents-member-button">
      <a href="#" class="contents-member-button-link">
        <span class="contents-member-button-link-contents">More ></span>
      </a>
    </p>
  </section>
  <!-- member-section-end -->

</div>
