<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        <%= render 'microposts/micropost', microposts: Micropost.all %>
      </section>
    </aside>
  </div>
<% else %>
  <div class='home'>
    <div class='home-discription'>
      <%= image_pack_tag 'logo.png', class: 'home-discription-logo', alt: '' %>
      <p>
        Unfowldは、明治大学の1年生によって2018年4月に設立されたファッションサークルです。<br><br>
        60名の明治大学1,2年生によって構成されています。<br><br>
        そのうちアパレル販売員が15名在籍しているのも当サークルの強みです。<br><br>
        「ファッションの敷居を下げる」をテーマに掲げ、多様な活動をしています。<br><br>
        知識の大小を問わず、服が好きな新入生を募集中。あなたのやりたいこと、Unfowldで一緒にやりましょう。
      </p>
    </div>
    <div class='home-about'>
      <h1>
        About
      </h1>
      <%= image_pack_tag 'testimg.png', class: 'home-discription-logo', alt: '' %>
      <%= image_pack_tag 'testimg.png', class: 'home-discription-logo', alt: '' %>
      <%= image_pack_tag 'testimg.png', class: 'home-discription-logo', alt: '' %>
      <%= image_pack_tag 'testimg.png', class: 'home-discription-logo', alt: '' %>
    </div>
    <div class='home-members'>
      <h1>
        Members
      </h1>
      <div class='home-members-container'>
        <div class='home-members-container-content'>
          <%= image_pack_tag 'testimg.png', class: 'home-members-container-content-image', alt: '' %>
          <a class='home-members-container-content-name'>test name</a>
          <a class='home-members-container-content-position'>test</a>
          <a class='home-members-container-content-introduction'>introduction</a>
        </div>
        <div class='home-members-container-content'>
          <%= image_pack_tag 'testimg.png', class: 'home-members-container-content-image', alt: '' %>
        </div>
        <div class='home-members-container-content'>
          <%= image_pack_tag 'testimg.png', class: 'home-members-container-content-image', alt: '' %>
        </div>
      </div>
    </div>
    <div class='home-events'></div>
    <div class='home-blog'></div>
  </div>
<% end %>
