<div class='contents-wrapper'>
  <div class="contents">
    <div class="intro-sec">
      <div class="intro-sec-photo">
        <%= image_pack_tag 'tetora2.png', class: 'intro-sec-photo-img', alt: 'テトラポットの画像' %>
      </div>
      <div class="intro-sec-column">
        <div class="intro-sec-column-wrap">
          <div class="intro-sec-column-wrap-ttl">
            <h2>Members</h2>
          </div>
          <div class="intro-sec-column-wrap-text">
            <p>We're Unfowld. and, this is community of creatives.<br>
            We will introduce our members to you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="person-sec">
      <div class="person-sec-inner">
        <div class="person-sec-inner-topwrap">
          <div class="person-sec-inner-topwrap-ttl">
            <h2>Business</h2>
          </div>
          <ul class="member-list">
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_ryubi.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>FUKUDA RYUBI</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_oohara.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>OHARA KEISUKE</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_koike.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>KOIKE SHUNNOSUKE</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_koike.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>KOIKE SHUNNOSUKE</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="person-sec-inner-bottomwrap">
          <div class="person-sec-inner-bottomwrap-ttl">
            <h2>Creative</h2>
          </div>
          <ul class="member-list">
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_hiroki.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>ITO HIROKI</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_takumi.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>ITO TAKUMI</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_aki.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>MATSUHUJI AKIHIKO</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_pack_tag 'member_suga.png', class: 'member-list-single-graphic-img', alt: '人物の画像' %>
              </div>
              <div class="member-list-single-name">
                <p>KOHEI SUGA</p>
              </div>
              <div class="member-list-single-text">
                <p>明治大学3年 大学入学の2018年4月にUnfowldを創設、現在まで代表を務める。 セレクトショップでの店頭販売経験1年、外資HRスタートアップではセールス/マーケティングに従事。 現在は㈱READY TO FASHION にてアパレル業界の新卒採用に関する幅広い業務を担当している。 毎週金曜日はファッション学生層向けのBARを富士見ヶ丘駅で営業中。カイワレ大根が嫌い。</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="person-sec-inner-bottomwrap">

        </div>
      </div>
    </div>
  </div>
</div>
