<header class="main-header">
  <%= link_to root_path, 'aria-label': 'logo-link' do %>
    <%= image_pack_tag 'logo.png', class: 'main-header-logo', alt: 'Unfowld' %>
  <% end %>
  <input id="nav-input" type="checkbox" class="main-header-unshown">
  <label id="nav-open" for="nav-input" class="main-header-shown"><p class="main-header-shown-lead">Menu</p></label>
  <label class="main-header-unshown" id="nav-close" for="nav-input"></label>

  <div id="nav-content">
    <div class='main-header-contents'>
      <div class="main-header-contents-bottom">
        <li class="main-header-item">CONTENT</li>
        <li><%= link_to 'ABOUT', static_pages_about_path, class: 'main-header-item' %></li>
        <li><%= link_to 'MEMBERS', static_pages_members_path, class: 'main-header-item' %></li>
        <li><%= link_to 'EVENTS', events_index_path, class: 'main-header-item' %></li>
        <li><%= link_to 'BLOG', events_index_path, class: 'main-header-item' %></li>
      </div>
      <div class="main-header-contents-top">
        <% if logged_in? %>
          <%= link_to 'User', user_path(current_user.id), class: 'main-header-item' %>
          <%= link_to 'Article', new_article_path, class: 'main-header-item' %>
          <%= link_to 'Log out', logout_path, method: :delete, class: 'main-header-item' %>
        <% else %>
          <li class="main-header-item">INFO</li>
          <li><%= link_to 'CONTACT', static_pages_contact_path, class: 'main-header-item' %></li>
          <li><%= link_to 'OUR PARTNERS', static_pages_contact_path, class: 'main-header-item' %></li>
        <% end %>
      </div>
      <div class="main-header-contents-icon">
        <%= link_to root_path, 'aria-label': 'icon', target: :_blank do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to root_path, 'aria-label': 'icon', target: :_blank do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </div>
    </div>
  </div>
</header>
