<header class='header'>
  <div class='header-link'>
    <%= image_tag 'logo.png', class: 'header-link-logo'%>
    <div class='header-link-pulldown' id='menu'>
      <div>
        <a href="#menu" class='header-link-pulldown-open'><i class="fas fa-list-ul"></i></a>
        <a href="#close" class='header-link-pulldown-close'><i class="fas fa-times"></i></a>
      </div>
      <ul class='header-link-pulldown-menu'>
        <% if logged_in? %>
          <%= link_to 'home', root_path, class: 'header-link-pulldown-item' %>
          <%= link_to 'user', users_path, class: 'header-link-pulldown-item' %>
          <%= link_to 'log_out', logout_path, method: :delete, class: 'header-link-pulldown-item' %>
        <% else %>
          <li><%= link_to 'home', root_path, class: 'header-link-pulldown-item' %></li>
          <li><%= link_to 'about', static_pages_about_path, class: 'header-link-pulldown-item' %></li>
          <li><%= link_to 'contact', static_pages_contact_path, class: 'header-link-pulldown-item' %></li>
          <li><%= link_to 'members', static_pages_members_path, class: 'header-link-pulldown-item' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
