<div class='contents-wrapper'>
  <div class="contents">
    <div class="intro-sec">
      <div class="intro-sec-photo">
        <%= image_pack_tag 'tetora2.png', class: 'intro-sec-photo-img', alt: 'テトラポットの画像' %>
      </div>
      <div class="intro-sec-column">
        <div class="intro-sec-column-wrap">
          <div class="intro-sec-column-wrap-ttl">
            <h2>Members</h2>
          </div>
          <div class="intro-sec-column-wrap-text">
            <p>We're Unfowld. and, this is community of creatives.<br>
            We will introduce our members to you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="person-sec">
      <div class="person-sec-inner">
        <div class="person-sec-inner-wrap">
          <ul class="member-list">
            <% @members.each do |member| %>
            <li class="member-list-single">
              <div class="member-list-single-graphic">
                <%= image_tag member.image, class: 'member-list-single-graphic-img'%>
              </div>
              <div class="member-list-single-name">
                <%= member.name %>
              </div>
              <%= member.position %>
              <div class="member-list-single-text">
                <%= member.introduction %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
