<%= form_with model: @member do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control', required: true %>

  <%= form.label :introduction %>
  <%= form.text_area :introduction, class: 'form-control' %>

  <%= form.label :order %>
  <%= form.number_field :order, class: 'form-control', required: true %>

  <%= form.label :category %>
  <%= form.select :category, [['business', 0], ['creative', 1]], include_blank: true, required: true, class: 'form-control' %>

  <%= form.label :instagram %>
  <%= form.text_field :instagram, class: 'form-control' %>

  <%= form.label :position %>
  <%= form.text_field :position, class: 'form-control' %>

  <%= form.file_field :image, class: 'form-control', required: true %>

  <%= form.submit "Create", class: "btn btn-primary" %>
<% end %>

<h1>Members list</h1>
<%= form_with scope: 'search', method: :get, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>
<% @members.each do |member| %>
  <%= image_tag member.image, class: 'member-thumbnail'%>
  <%= member.name %>
  <%= member.introduction %>
  <%= member.instagram %>
  <%= member.position %>
  <%= link_to '編集', edit_member_path(member.id) %>
<% end %>
